<nav id="sidebar" class="nav flex-column">
    <div class="sidebar__header">
        <a class="logo">
            <!-- <img src="/assets/images/logo.svg" alt="Linh Finance"/> -->
        </a>
    </div>
    <div class="main-nav">
        <a class="nav-link active home" href="#">
          <i class="fas fa-camera-retro"></i>Dashboard
        </a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
    </div>
</nav>
