.sidenav-container{
  // flex: 1;
  // order: 2;
  .sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    .mat-list-item {
      color: #aaacc2;
      &.active, &:hover{
        color: #EF5350;
        opacity: 0.8;
      }
    }
  }
}
