.sidenav-container{
  flex: 1;
  order: 2;
  .sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background: rgba(255, 0, 0, 0.5);
    .mat-list-item {
      color: #ffffde;
    }
  }
}
