<div class="sidebar">
  <mat-sidenav-container class="sidebar__container">
    <mat-sidenav #sidenav mode="side" color="primary" [opened]="open" class="sidebar__sidenav"
    [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
      <mat-nav-list>
        <a mat-list-item routerLink="" aria-label="home">
            <mat-icon>home</mat-icon>Dashboard
        </a>
        <a mat-list-item routerLink="" aria-label="home">
            <mat-icon>account_balance</mat-icon>Balance
        </a>
        <a mat-list-item routerLink="" aria-label="home">
            <mat-icon>event</mat-icon>News
        </a>
        <a mat-list-item routerLink="" aria-label="home">
            <mat-icon>face</mat-icon>About
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container>
</div>
