.login{
  .footnote{
    background-color: #FBE9E7;
    padding: 0 20px;
    border-top: 1px solid #607D8B;
    font-size: 1em;
    line-height: 3.5em;
    text-align: center;
    margin-top: 20px;
    a{
      color: #f44336;
    }
  }
}
