.header{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__toolbar{
    position: fixed;
    z-index: 2;
  }
  &__logo{
    img{
      max-width: 100px;
      max-height: 50px;
    }
  }
  &__search{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    &__form{
      max-height: 36px;
    }
  }
  &__search__input.mat-form-field {
    font-size: 0.75rem;
    color: #ffffde;
    .mat-form-field-underline{
      background-color: #ffffde;
    }
  }
}
