
<mat-toolbar class="header__toolbar">
  <div class="header__toggle-button">
      <button mat-icon-button (click)="onToggleSideNav()"><mat-icon>menu</mat-icon></button>
  </div>
  <div class="header__right">
      <a class="header__right__logo">
          <img src="/assets/images/logo.png" alt="My Finance" />
      </a>
      <div class="header__right__search">
          <form *ngIf="toggleSearch" class="header__right__search__form">
            <button type="button" (click)="search()" mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field class="header__right__search__input">
                <input matInput placeholder="Search">
            </mat-form-field>
            <button type="button" (click)="toggle()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
          </form>
          <button (click)="toggle()" mat-button *ngIf="!toggleSearch">
              <mat-icon>search</mat-icon>
              Search
          </button>
          <a class="header__right__search_signin" mat-button routerLink="auth/login">Signin</a>
          <button mat-icon-button type="button" (click)="onLogout()">Logout</button>
        </div>
  </div>
</mat-toolbar>

