.header{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__toolbar{
    position: fixed;
    z-index: 2;
    background-color: #fff;
    color: #aaacc2;
    padding: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  &__toggle-button{
    width: 64px;
    height: 64px;
    background: #673ab7;
    color: rgba(255,255,255,.87);
    display: flex;
    .mat-icon-button{
      width: 100%;
      height: 100%;
    }
  }
  &__right{
    display: flex;
    flex-grow: 2;
    &__logo{
      img{
        max-width: 100px;
        max-height: 50px;
      }
    }
    &__search{
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #676c7b;
      &__form{
        max-height: 36px;
      }
      .auth-buttons{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &__search__input.mat-form-field {
      font-size: 0.75rem;
      .mat-form-field-underline{
        background-color: #ffffde;
      }
    }
  }
}
