.auth-form{
  .row > div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  h1{
    font-size: 1.5rem;
  }
  .error{
    color: #ff0000;
  }
  .ng-invalid.ng-touched{
    border-color: #ff0000;
  }
}
